@font-face{
    font-family: "Montserrat";
    src: url('../fonts/Montserrat.otf'),
    url('../fonts/Montserrat.otf'); /* IE */
}
body{
	height:100%;
	margin:0;
	padding:0;
	font-family:Montserrat;
	text-align:center;
	background-color:rgb(0,102,204);
	overflow-x:hidden;
	color:rgb(255,255,255);
}

.infotext{
	color:rgb(255,255,255);
	padding:10px;
	border:solid rgb(51,51,51) 1px;
}

#content{
	padding:50px;
}

#footer{
	position:fixed;
	bottom:0;
	width:100%;
	font-size:10px;
	text-align:center;
	padding:10px;
	background-color:rgb(255,255,255);
	color:rgb(0,51,255);
}

/*contact form*/
.form-style-8{ 
    font-family: 'Open Sans Condensed', arial, sans;
    width: 600px;
    padding: 30px;
    background: #FFFFFF;
    margin-top: 50px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}
.form-style-8 h2{
    background: #4D4D4D;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #797979;
    font-size: 18px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;
}
.form-style-8 input[type="text"],
.form-style-8 input[type="date"],
.form-style-8 input[type="datetime"],
.form-style-8 input[type="email"],
.form-style-8 input[type="number"],
.form-style-8 input[type="search"],
.form-style-8 input[type="time"],
.form-style-8 input[type="url"],
.form-style-8 input[type="password"],
.form-style-8 textarea,
.form-style-8 select 
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}
.form-style-8 textarea{
    resize:none;
    overflow: hidden;
}
.form-style-8 input[type="button"], 
.form-style-8 input[type="submit"]{
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color:rgb(51,51,51);
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}
.form-style-8 input[type="button"]:hover, 
.form-style-8 input[type="submit"]:hover {
    background:linear-gradient(to bottom, rgb(102,102,102) 5%, rgb(102,102,102) 100%);
    background-color:rgb(102,102,102);
}